.cart{
   @include flex(center, space-between);
   flex-direction: column;
   margin-bottom: 50px;
   min-height: 500px;

   &__title{
      text-align: center;

      h2{
         font-size: 28px;
         margin: 15px 0;
      }
      p{
         color: $txt-second-color;
      }

      &::after{
         content:'';
         height:4px;
         background:#252a2b;
         width: 60px;
         margin: 20px auto;
         display:block;
      }
   }

   &__info{
      width: 85%;
      @include flex(unset, space-between);
      margin-bottom: 20px;

      @include tablet{
         flex-direction: column;
      }

      &__left{
         textarea{
            padding: 20px;
            outline:none;
            background-color:#ededed;
            border:none;
            resize: none;
            font-size: 16px;
            

            @include tablet{
               width: 100%;
               margin-bottom: 10px;
            }
         }
      }

      &__right{
         @include flex(flex-end,space-between);
         flex-direction: column;
         padding: 10px 0;

         .cart__total{
            font-size: 16px;
            @include tablet{
               margin-bottom: 10px;
            }

            span{
               font-size: 28px;
               font-weight: 600;
               margin-left: 10px;
            }
         }

         .cart__btn{
            &__item{
               padding: 15px;
               margin-left: 10px;
               color:$txt-white;
               background-color:$main-color;
               border: none;
               cursor: pointer;
               text-transform: uppercase;

               @include mobile{
                  font-size: 12px;
               }
            }
         }

      }
   }
   

   &__list{
      width: 85%;
      margin-bottom: 30px;

      @include tablet {
         width: 100%;
      }
   }

   &__item{
      @include flex(unset,space-between);
      border-bottom: 1px solid #e0e0e0;
      padding:10px 0 20px 0;

      &:last-child{
         border-bottom: none;
      }

      &__left{
         display: flex;
         
         .cart__item__image{
            margin-right: 15px;

            img{
               width: 100px;
               height: 120px;
               object-fit: cover;
            }
         }
         .cart__item__info{
            &__name{
               font-weight: 500;
               font-size: 18px;
               margin-bottom: 5px;
            }

            &__price{
               font-weight: 300;
               margin-bottom: 10px;
            }

            &__category{
               @include flex(center, flex-start);
               margin-bottom: 10px;
            }

            &__color{
               font-size: 20px;
               margin-right: 10px;
               @include flex(center,center);
               width: 22px;
               height: 22px;
               
               .bx{
                  border-radius: 50%;
                  border: 1px solid #e0e0e0;
                  
               }
            }

            &__size{
               text-transform: uppercase;
               font-size: 18px;
            }

            &__quantity{
               display:flex;
               align-items: center;
               height: 25px;
               margin-top: 10px;

               &__btn{
                  background-color: #e0e0e0;
                  height: 100%;
                  @include flex(center,center);
                  width: 20px;
               }

               &__input{
                  border-bottom: 1px solid #e0e0e0;
                  border-top: 1px solid #e0e0e0;
                  width: 30px;
                  height: 100%;
                  @include flex(center, center);
               }
            }
         }
      }
      
      &__right{
         @include flex(center, space-between);
         flex-direction: column;
         padding: 5px 0;
      }

      &__del{
         font-size: 2rem;
         
         i{
            cursor: pointer;

            &:hover{
               color: $main-color;
            }
         }
      }

      &__price{
         font-size: 16px;
      }
   }

}
