.catalog{
   min-height: 500px;
   &__top{
      padding: 40px 0;
      @include flex(center, space-between);


      @include mobile {
         flex-direction: column;
         align-items: flex-start;
      }

      h2{
         font-size: 20px;
         font-weight: 600;
         text-transform:uppercase;
         margin-right: 15px;

         @include tablet {
            font-size: 16px;
            margin-right: 8px;
         }
      }

      
      select{
            padding: 10px 5px;
            margin-right: 10px;
            outline:none;
            font-size: 16px;
            border: 1px solid #cdd9ed;
            color: #6c7486;
            border-radius: 5px;
   
            @include tablet {
               font-size: 14px;
               margin-right: 5px;
               padding: 5px 3px;
            }
   
         }

      &__content{
         @include flex(center, unset);

         @include mobile {
            margin-bottom: 20px;
         }
      }

   }
}