.product__top{
   width: 100% !important;
   background-color: #ebe5e5;
   @include flex(unset, unset);
   padding: 20px;
   margin-top: $header-height;

   & p,a {
      font-size: 16px;
      font-weight: 400;
      margin:0 10px;
      position: relative;

      &:first-child{
         font-weight: 600;
      }

      &::after{
         content: "/";
         position: absolute;
         right: -14px; 
         top: 0;
      }
      &:last-child::after{
         display:none;
      }
   }
   & a:hover{
      color:unset;
   }

}

.product{
   @include flex(unset, unset);
   margin-top: 40px;
   margin-bottom: $header-height;
   @include mobile{
      flex-direction: column;
      padding: 0 20px;
   }
   .active{
      border: 1px solid $main-color !important;
   }
   &__left{
      width: 60%;
      display:flex;
      @include mobile{
         width: 100%;
         margin-bottom: 20px;
      }
      
         &__small{
            @include flex(flex-start,flex-start);
            flex-direction: column;
            margin-right: 20px;
            
         }

         &__small img{
            width: 60px;
            height: 80px;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 5px;
         }
         &__img{
            width: 80%;
            height: 650px;

            @include tablet {
               width: 75%;
               height: 500px;
            }
            @include mobile {
               width: 100%;
            }
            & > img{
               height: 100%;
               object-fit:fill;
               width: 100%;
            }

         }
      
   }
   &__right{

      & > button{
         display:block;
         margin-bottom: 20px;
         

         @include mobile {
            font-size: 14px;
            padding: 5px 7px;
         }
      }
      
      &__title{
         h2{
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 30px;
            @include tablet{
               font-size: 28px;
            }
         }
         & ~ * {
            margin-bottom: 30px;
         }
      }

      &__price{
         font-size: 25px;
         font-weight: 300;
      }

      &__colors{
         font-size: 18px;
         font-weight: 300;
         @include flex(center,unset);

         .bx{
            font-size: 45px;
            border-radius: 50%;
            border: 1px solid #e0e0e0;
            margin: 0 5px;
            cursor: pointer;
         }

         & .bx:first-child{
            margin-left: 20px;
         }
      }

      &__size{
         font-size: 18px;
         font-weight: 300;
         @include flex(center,unset);

         span{
            font-size: 20px;
            width: 47px;
            height: 47px;
            text-transform:uppercase;
            border-radius: 50%;
            border: 1px solid #e0e0e0;
            margin: 0 5px;
            @include flex(center, center);
            font-weight: 400;
            cursor: pointer;
         }

         & span:first-child{
            margin-left: 20px;
         }
      }

      &__quantity {
         font-size: 20px;
         @include flex(unset, unset);
         &__btn{
            border: 1px solid #e0e0e0;
            padding: 5px;
            background-color:#e0e0e0;
            cursor: pointer;
            @include flex(center, center);
         }
         &__input{
            border: 1px solid #e0e0e0;
            width: 50px;
            @include flex(center,center);
         }
      }
   }
}

