.product{
   flex:4;
   padding: 20px;

   &__container{
      @include flex(center, space-between);


      .product__btn{
         color:white;
         background-color:teal;
         border:none;
         border-radius: 5px;
         padding: 5px;
         width: 80px;
         font-size: 16px;
         cursor: pointer;
      }
   }

   &__top{
      display:flex;

      &__left{
         flex:1;

      }

      &__right{
         flex:1;
         -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
         box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
         padding: 20px;
         margin: 20px;

         .product__info__top{
            display:flex;
            align-items: center;

            img{
               width: 40px;
               height: 40px;
               border-radius: 50%;
               object-fit: cover;
               margin-right: 10px;
            }

            &>span{
               font-weight: 600;
            }
         }

         .product__info__bottom{
            margin-top: 10px;

            .product__info__item{
               width: 150px;
               @include flex(unset,space-between);
               
               &__value{
                  font-weight: 300;
               }
            }
         }
      }
   }

   &__bottom{
         -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
         box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
         padding: 20px;
         margin: 20px;

         &__form{
            @include flex(unset, space-between);

            &__left{
               display:flex;
               flex-direction: column;

               &>label{
                  margin-top: 10px;
                  color:gray;
                  font-weight: 600;
               }

               &>input{
                  margin-top: 10px;
                  border:none;
                  padding: 5px;
                  border-bottom: 1px solid gray;
               }
               &>select{
                  margin-bottom: 10px;
               }
            }

            &__right{

               display:flex;
               justify-content:space-around;
               flex-direction: column;

               .product__upload{
                  @include flex(center,unset);
               }
               
               .product__btn{
                  padding: 5px;
                  border:none;
                  border-radius: 5px;
                  background-color:darkblue;
                  color:white;
                  font-weight: 600;
                  cursor: pointer;
               }

               img{
                  width: 100px;
                  height: 100px;
                  border: radius 10px;
                  object-fit: cover;
               }

               .bx{
                  font-size: 24px;
                  font-weight: 600;
               }
            }
         }
   }
}